<!DOCTYPE html>
<html>

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>
    <header>
        <!-- Carousel -->
        <% if (theme.carousel && theme.carousel.enable){ %>
            <%- partial('_partial/carousel', {
                autoplay: theme.carousel.autoplay, 
                interval: theme.carousel.interval,
                slides: theme.carousel.slides || [],
                height: theme.carousel.height
            }) %>
        <% } %>
    </header>

    <!-- Navbar -->
    <%- partial('_partial/navbar') %>

    <!-- Call to action -->
    <% if (theme.call_to_action && theme.call_to_action.enable){ %>
        <%- partial('_partial/call-to-action', {text: theme.call_to_action.text, link:theme.call_to_action.link, button_text:theme.call_to_action.button_text}) %>
    <% } %>

    <!-- Main Content -->
    <main class="container">
        <div id="masonry-layout" class="row py-4" data-masonry='{"percentPosition": true }'>
            <%- body %>
        </div>
    </main>

    <footer>
        <!-- Footer -->
        <%- partial('_partial/footer') %>
    </footer>

    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
</body>

</html>