<div class="">
    <div class="post p-3">
        <% if(post.cover) { %>
            <a href="<%- config.root %><%- post.path %>">
                <img src=<%= post.cover %> class="img-fluid rounded mb-3" alt="...">
            </a>
        <% } %>

        <!-- Title -->
        <h3 class="">
            <b>
                <a href="<%- config.root %><%- post.path %>" class="link-dark link-underline-opacity-0 link-underline-opacity-75-hover">
                    <%- post.title %>
                </a>
            </b>
        </h3>

        <!-- Content -->
        <div class="text-secondary">
            <%- post.content %>
        </div>
    </div>
</div>