<nav class="navbar sticky-top navbar-expand-md bg-black" data-bs-theme="dark">
    <div class="container my-1">
        <a class="navbar-brand" href="/">TOONOTION</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav mx-auto navbar-nav-scroll" style="--bs-scroll-height: 200px;">
                <% for (const page in theme.menu) { %>
                    <% if (typeof theme.menu[page] === 'object') { %>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%= page %></a>
                        <ul class="dropdown-menu">
                          <% for (const item in theme.menu[page]) { %>
                            <li>
                              <a class="dropdown-item" href="<%= theme.menu[page][item] %>"><%= item %></a>
                            </li>
                            <% if (item !== Object.keys(theme.menu[page]).slice(-1)[0]) { %>
                              <li>
                                <hr class="dropdown-divider">
                              </li>
                            <% }; %>
                          <% }; %>
                        </ul>
                      </li>
                    <% } else { %>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="<%= theme.menu[page] %>"><%= page %></a>
                      </li>
                      <% if (page !== Object.keys(theme.menu).slice(-1)[0]) { %>
                        <div class="d-none d-md-block vr text-body-tertiary mx-3"></div>
                      <% }; %>
                    <% }; %>
                  <% }; %>
            </ul>
            <form class="d-flex m-0" role="search">
                <div class="collapse collapse-horizontal" id="navbarSearch">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </div>
                <button class="btn btn-outline-light" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarSearch"
                aria-controls="navbarSearch" aria-expanded="false" aria-label="Search Bar">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
    </div>
</nav>