<div class="p-3 text-light" style="background-color: #353535;">
    <% if (image){ %>
        <img src=<%= image %> class="img-fluid rounded mb-3" alt="...">
    <% } %>
    <h4><%= header %></h4>
    <p><%= text %></p>

    <div class="d-flex flex-wrap gap-2">
        <% if (social.facebook){ %>
            <a href=<%= social.facebook %> class="btn btn-light btn-sm"><i class="bi bi-facebook" style="color: #1877f2;"></i></a>
        <% } %>
        <% if (social.tiktok){ %>
            <a href=<%= social.twitter %> class="btn btn-light btn-sm"><i class="bi bi-tiktok" style="color: #1D9BF0;"></i></a>
        <% } %>
        <% if (social.twitter){ %>
            <a href=<%= social.twitter %> class="btn btn-light btn-sm"><i class="bi bi-twitter" style="color: #1D9BF0;"></i></a>
        <% } %>
        <% if (social.instagram){ %>
            <a href=<%= social.instagram %> class="btn btn-light btn-sm"><i class="bi bi-instagram" style="color: #dd2a7b;"></i></a>
        <% } %>
        <% if (social.linkedin){ %>
            <a href=<%= social.linkedin %> class="btn btn-light btn-sm"><i class="bi bi-linkedin" style="color: #0a66c2;"></i></a>
        <% } %>
        <% if (social.youtube){ %>
            <a href=<%= social.youtube %> class="btn btn-light btn-sm"><i class="bi bi-youtube" style="color: #c00;"></i></a>
        <% } %>
        <% if (social.pinterest){ %>
            <a href=<%= social.pinterest %> class="btn btn-light btn-sm"><i class="bi bi-pinterest" style="color: #e60023;"></i></a>
        <% } %>
        <% if (social.github){ %>
            <a href=<%= social.github %> class="btn btn-light btn-sm"><i class="bi bi-github" style="color: #212529;;"></i></a>
        <% } %>
        <% if (social.email){ %>
            <a href=mailto:<%= social.email %> class="btn btn-light btn-sm"><i class="bi bi-envelope" style="color: #d95e40;"></i></a>
        <% } %>
    </div>
</div>